{% extends 'telas/base.html' %}
{% block conteudo %}
<div class="container mt-4">
    <h2>Nossos Produtos</h2>

    <div class="row">
    {% for produto in produtos %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome}}">
                <div class="card-body">
                    <h5 class="card-title"> {{ produto.nome }}</h5>
                    <p class="card-text"> {{ produto.descricao }}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>

{% endblock %}